@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textLight dark:bg-darkBackground dark:text-textDark;
}

h1, h2, h3 {
  color: theme('colors.primary');
}

button {
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: theme('colors.accent');
}
